<div class="container">
    <script type="application/javascript">
        (function() {
            var submitted = false;
            function submit() {
                if (submitted) {
                    return;
                }
                console.log("submitting credentials");
                if (!(window.jQuery)) {
                    document.forms[0].submit();
                } else {
                    $('input[type=submit]').trigger('click');
                }
                submitted = true;
            }
            submit();
        }) ();
    </script>

    <div id="bid_client">
    </div>

    <form action="" method="post" class="form login col-sm-6 col-sm-offset-3" data-stage="{{reqs.stage}}">
        <fieldset class="row">
            {{#each reqs.callbacks}}
                {{#if isSubmit}}
                    {{#if ../../showRememberLogin}}
                        {{> login/_RememberLogin }}
                    {{/if}}
                {{/if}}

                <div class="form-group">
                    {{callbackRender}}
                </div>
            {{/each}}
        </fieldset>
    </form>
    <script type="application/javascript">
        $("form input:submit").attr("class", "hidden");
    </script>
</div>
